/* ===========================================
   RESET CSS MÍNIMO
   =========================================== */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size-base);
    line-height: var(--line-height-normal);
    color: var(--color-text);
    background-color: var(--color-background);
    overflow-x: hidden;
    cursor: url('../assets/icons/cursor-soundwave.svg') 12 12, auto;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: url('../assets/icons/cursor-soundwave.svg') 12 12, pointer;
}

ul,
ol {
    list-style: none;
}

button {
    border: none;
    background: none;
    cursor: url('../assets/icons/cursor-soundwave.svg') 12 12, pointer;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-tight);
}
